<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="mpweb" version="3.1">
	<display-name>mp web 1.0</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:conf/applicationContext*.xml</param-value>
	</context-param>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>zl.mpweb</param-value>
	</context-param>
	<!-- Log4jConfig -->
	<context-param>
		<param-name>log4jConfiguration</param-name>
		<param-value>/WEB-INF/classes/log4j2.xml</param-value>
	</context-param>

  <listener>
    <description>设置webroot</description>
    <listener-class>org.springframework.web.util.WebAppRootListener</listener-class>
  </listener>
  
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
<!--	<listener> 
		<listener-class>org.springframework.security.web.session.HttpSessionEventPublisher</listener-class>
	</listener>
 	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter> -->

	<servlet>
		<servlet-name>mpweb</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mpweb</servlet-name>
		<url-pattern>/web/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mpweb</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
<!-- 	<error-page>
		<error-code>500</error-code>
		<location>/commons/500.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/commons/404.jsp</location>
	</error-page> -->
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/topOne</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

</web-app>